@use "colors"as *;

$border__radius__4px: 4px;
$border__radius__1px: 1px;
$border__radius__3px: 3px;
.us_none{
    user-select: none;
}
.d__flex {
    display: flex;
}

.flex__dir__col {
    flex-direction: column;
}

.al__it__cen {
    align-items: center;
}
.jus__con__sp__ev{
    justify-content: space-evenly;
}
.hide {
    display: none !important;
}
.vishidden {
    visibility: hidden !important;
}
.center__flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt__alg__lft{
    text-align: left;
}
.txt__alg__rgt{
    text-align: right;
}
.al__it__left{
    align-items:flex-start;
}
.al__it__right{
    align-items:flex-end;
}
.cu__pnt{
    cursor: pointer;
}
.scroll__cls{
    overflow-y: auto;
    overflow-x: hidden;
    // scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $color__blue__3; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $color__blue__2; 
    cursor: pointer;
  }

.disabled{
    opacity: 0.5;
    pointer-events: none;
}