@use 'importall' as *;

.wrapper__analytics {
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    scroll-behavior: smooth;
}


.leftSection {
    width: 5%;
    background: $color__blue__3;
}

.rightSection {
    width: 95%;
    padding: 20px 40px;

    h1 {
        color: $color__black__3;
        font-size: 24px;
        font-weight: bold;
        font-family: 'Lato', sans-serif;
    }
}