@use 'importall'as *;

.datepicker__wrapper {
    // width: 212px;
    width: fit-content;
    height: 43px;
    border: 1px solid $color__grey__2;
    border-radius: $border__radius__4px;
    opacity: 1;
    padding: 1px 5px;
    cursor: pointer;

    .calendar {
        width: 33px;
        height: 18px;
        color: $color__blue__2;
        opacity: 1;
    }

    .date_range_value {
        height: inherit;
        text-align: left;
        font: normal normal bold 16px/19px Lato;
        letter-spacing: 0px;
        color: $color__black__2;
        opacity: 1;
        width: calc(100% - 33px);

       
        .divider{
            margin: 0 10px;
        }
        .btn-wrp {
    
            display: inline-block;
            position: relative;
            z-index: 10;
        }
        
        input[type="date"]{
            border: none;
            outline: none;
        }
       
        
        input[type="date"]::-webkit-calendar-picker-indicator {
            right: -10px;
            position: absolute;
            width: 78px;
            height: 40px;
            color: rgba(204, 204, 204, 0);
            opacity: 0
        }
        
         
    }
}