@use "importall"as *;

.range__wrapper {
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;

  .container__cls {
    position: relative;
    width: 100%;
    height: 20px;

    #slider-1 {
      left: 0;
    }

    #slider-2 {
      right: 0;
    }

    input[type="range"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 100%;
      outline: none;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      background-color: transparent;
      pointer-events: none;
    }

    .slider__tracker {
      width: 100%;
      height:5px;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      border-radius: 5px;
    }

    input[type="range"]::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      height: 5px;
    }

    input[type="range"]::-moz-range-track {
      -moz-appearance: none;
      height: 5px;
    }

    input[type="range"]::-ms-track {
      appearance: none;
      height: 5px;
    }

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 1.7em;
      width: 1.7em;
      background-color: #3264fe;
      cursor: pointer;
      margin-top: -9px;
      pointer-events: auto;
      border-radius: 50%;
    }

    input[type="range"]::-moz-range-thumb {
      -webkit-appearance: none;
      height: 1.7em;
      width: 1.7em;
      cursor: pointer;
      border-radius: 50%;
      background-color: #3264fe;
      pointer-events: auto;
    }

    input[type="range"]::-ms-thumb {
      appearance: none;
      height: 1.7em;
      width: 1.7em;
      cursor: pointer;
      border-radius: 50%;
      background-color: rgb(50, 100, 254);
      pointer-events: auto;
    }

    input[type="range"]:hover::-webkit-slider-thumb {
      box-shadow: 0 0 0 20px rgba(50,100,254,.1);
    }
    input[type="range"]:active::-webkit-slider-thumb {
      box-shadow: 0 0 0 20px rgba(50,100,254,.15);
    }
  }

  .values {
    position: relative;
    margin: auto;
    width: 100%;

    padding: 10px 0 10px 0;

    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
  }
}
