@use "importall"as *;

.filter_popup {
    // position: fixed;
    // width: 100%;
    // height: 100%;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // margin: auto;
    // background-color: rgba(0,0,0, 0.5);
    // pointer-events: none;
    z-index: 999;
    position: absolute;
    // left: 86%;
    top: 92%;

    .filter_popup_inner {
        // position: absolute;
        // left: 86%;
        // top: 86%;
        margin: auto;
        background: white;
        padding: 20px;
        border-radius: 7px;
        max-width: 315px;
        min-width: 260px;
        border: 1px solid $color__grey__4;

        h3 {
            margin: 0 0 1em 0 !important;
            text-align: left;
        }

        .btn__group__wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .btn__group {
                border: none;
                padding: 10px 20px;
                border-radius: $border__radius__3px;
                margin: 0 5px;
            }


            .reset__filter__btn {
                font-weight: bold;
                color: $color__black__3;
                background: $color__white__2;
            }

            .apply__filter__btn {
                background: $color__blue__1;
                color: white;
            }
        }

    }
}

.datepicker__wrapper {
    // width: 212px;
    width: fit-content;
    height: 43px;
    border: 1px solid $color__grey__2;
    border-radius: $border__radius__4px;
    opacity: 1;
    padding: 1px 5px;
    cursor: pointer;

    .calendar {
        width: 33px;
        height: 18px;
        color: $color__blue__2;
        opacity: 1;
    }

    .date_range_value {
        height: inherit;
        text-align: left;
        font: normal normal bold 16px/19px Lato;
        letter-spacing: 0px;
        color: $color__black__2;
        opacity: 1;
        width: calc(100% - 33px);

       
        .divider{
            margin: 0 10px;
        }
        .btn-wrp {
    
            display: inline-block;
            position: relative;
            z-index: 10;
        }
        
        input[type="date"]{
            border: none;
            outline: none;
        }
       
        
        input[type="date"]::-webkit-calendar-picker-indicator {
            right: -10px;
            position: absolute;
            width: 78px;
            height: 40px;
            color: rgba(204, 204, 204, 0);
            opacity: 0
        }
        
         
    }
}