@use "importall" as *;

.not__found__wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    .not__found__inner{
        display: flex;
        width: fit-content;
        .leftImg{
            height: 224px;
            width: 235px;
            &img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
        .rightNotF{
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2{
                color: $color__black__3 !important;
                font-size: 16px;
            }
            p{
                color: $color__grey__4 !important;
                font-size: 12px;
            }
        }
    }
}