@use "importall"as *;
.search{
    margin-bottom: 20px;
    .searchInputs{
        display: flex;
        justify-content: space-between;
         padding: 10px;
         border: 1px solid $color__blue__2;
         border-radius: 7px;
       
        .searchBox{
            outline: 0;
            border: 0;
            width: calc(100% - 60px);
            &:focus-visible {
                outline: 0; 
            }    
            &::placeholder{
                color: $color__grey__4;
            }
        }
        .searchIcon{
            width: 30px;
            color: $color__grey__4;
        }      
        .clearTxtIcon{
            width: 30px;
            color: $color__grey__4;
        }      
    }
    .searchResults{
        height: 100px;
        overflow: scroll;
        margin: 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .dataItem{
            padding: 5px 10px 5px 0px;
            font-weight: normal;
            .itemTxt{
                margin-left: 10px;
            }
        }
    }
}