@use 'importall'as *;

.hideWithAnimation {
    animation: slidebacky 1s;

      display: none !important;
    //   opacity: 0;
    //   transition: display 0s linear 0.33s, opacity 0.33s linear;
    @keyframes slidebacky {
        0% {
            transform: translateY(0%);
        }

        100% {
            transform: translateY(-50%);
        }
    }
}

.tb__upper {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    .settings__btn {
      display: flex;
      justify-content: space-between;
      padding: 5px 20px;
      align-items: center;
      width: fit-content;
      height: 43px;
      border: 1px solid $color__grey__2;
      border-radius: $border__radius__4px;
      background: white;

      .sb__txt {
        margin-left: 5px;
      }

      .slider__icon {
        width: 18px;
        height: 18px;
        color: $color__blue__1;
        opacity: 1;
        margin-right: 5px;
      }
      &:disabled{
        > svg{
            opacity: 0.5 !important;
        }
      }
    }
  }

.settings__wrapper {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    border: 1px solid $color__white__2;
    border-radius: $border__radius__4px;
    padding: 20px;
    // animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: slidey 0.6s;

    @keyframes slidey {
        0% {
            transform: translateY(-50%);
        }

        100% {
            transform: translateY(0%);
        }
    }

    .dm__heading {
        display: flex;
        justify-content: flex-start;

        h3 {
            margin: 0px !important;
        }
    }

    .col__names__drag {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 10px 0px;

        .col__names__card {
            .col__option__name {
                border-left: 5px solid white;
                width: 100px;
                padding: 5px 10px;
                border-radius: 3px;
                background: white;
                border: 1px solid #EAEAEA;
                color: #212121;
                text-align: left;
                margin: 0 10px 5px 0px;
            }
            
            .default__element {
                display: none;
            }

            .default__element:checked+.col__option__name {
                border-left: 5px solid $color__blue__2;
            }

            &.draggable{
                cursor: move;
            }

            &.dragging {
                opacity: 0.6;
                // background: #116FED;
                // font-weight: 600;
                // color: white;
                // border: 1px solid #116FED;
            }
        }


    }

    .btn__func {
        display: flex;
        justify-content: flex-end;

        .settings__btn__group {
            border: none;
            padding: 5px 20px;
            border-radius: $border__radius__3px;
            height: 42px;
            margin: 0 5px;
        }

        .close__btn {
            background: white;
            color: $color__blue__1;
            border: 1px solid $color__white__2;
        }

        .apply__changes__btn {
            background: $color__blue__1;
            color: white;
        }
    }
}