@use "importall" as *;

.table__parent__wrapper {
  display: flex;
  flex-direction: column;


  .table__wrapper {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;

    td,
    th {
      padding: 8px;
      width: 11.11%;
      border-bottom: 1px solid $color__grey__3;
      
    }

    th {
      padding-top: 12px;
      padding-bottom: 12px;
      position: relative;
    }
  
    .filter__icon__wrapper{
      width: 100px;
      padding: 10px 0px;

      .filter__icon {
        width: 18px;
        height: 18px;
        color: $color__grey__1;
        opacity: 1;
      }
    }

    .theader__txt {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      letter-spacing: 0px;
      color: $color__grey__1;
      opacity: 1;
      text-align: right;
    }
    .table__data__top{
      font-family: "Lato", sans-serif;
      font-weight: 800;
      color: $color__black__2;
      font-size: 24px;
    }

    .table__data {
      font-family: "Lato", sans-serif;
      font-size: 14px;
      font-weight: 600;
      color: $color__black__3;
    }
    .app__name__cls{
      display: flex;
      // justify-content: space-between;
      .img__app__name{
        height: 30px;
        width: 30px;
        margin-right: 10px;
        & img{
          height: 100%; 
          width: 100%;
          object-fit: cover;
        }
      }
    }

  }

  
}