@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;700&display=swap");
.us_none {
  user-select: none;
}

.d__flex {
  display: flex;
}

.flex__dir__col {
  flex-direction: column;
}

.al__it__cen {
  align-items: center;
}

.jus__con__sp__ev {
  justify-content: space-evenly;
}

.hide {
  display: none !important;
}

.vishidden {
  visibility: hidden !important;
}

.center__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt__alg__lft {
  text-align: left;
}

.txt__alg__rgt {
  text-align: right;
}

.al__it__left {
  align-items: flex-start;
}

.al__it__right {
  align-items: flex-end;
}

.cu__pnt {
  cursor: pointer;
}

.scroll__cls {
  overflow-y: auto;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #192F48;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #116FED;
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.NotFoundPageWrap {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.pageParent {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
}

.notFoundImage {
  width: 100%;
  max-width: 768px;
  height: 290px;
  max-width: 500px;
}

.notFoundImage img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.btnGoHome {
  background: #fa6142;
  border-radius: 6px;
  outline: none !important;
  border: none !important;
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  cursor: pointer;
}

@media screen and (max-width: 414px) {
  .btnGoHome {
    font-size: 16px;
  }
}

/*# sourceMappingURL=404.css.map */
