@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;700&display=swap");
.us_none {
  user-select: none;
}

.d__flex {
  display: flex;
}

.flex__dir__col {
  flex-direction: column;
}

.al__it__cen {
  align-items: center;
}

.jus__con__sp__ev {
  justify-content: space-evenly;
}

.hide {
  display: none !important;
}

.vishidden {
  visibility: hidden !important;
}

.center__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt__alg__lft {
  text-align: left;
}

.txt__alg__rgt {
  text-align: right;
}

.al__it__left {
  align-items: flex-start;
}

.al__it__right {
  align-items: flex-end;
}

.cu__pnt {
  cursor: pointer;
}

.scroll__cls {
  overflow-y: auto;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #192F48;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #116FED;
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.wrapper__analytics {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  scroll-behavior: smooth;
}

.leftSection {
  width: 5%;
  background: #192F48;
}

.rightSection {
  width: 95%;
  padding: 20px 40px;
}
.rightSection h1 {
  color: #1D1A1A;
  font-size: 24px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

/*# sourceMappingURL=Analytics.css.map */
