@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;700&display=swap");
.us_none {
  user-select: none;
}

.d__flex {
  display: flex;
}

.flex__dir__col {
  flex-direction: column;
}

.al__it__cen {
  align-items: center;
}

.jus__con__sp__ev {
  justify-content: space-evenly;
}

.hide {
  display: none !important;
}

.vishidden {
  visibility: hidden !important;
}

.center__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt__alg__lft {
  text-align: left;
}

.txt__alg__rgt {
  text-align: right;
}

.al__it__left {
  align-items: flex-start;
}

.al__it__right {
  align-items: flex-end;
}

.cu__pnt {
  cursor: pointer;
}

.scroll__cls {
  overflow-y: auto;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #192F48;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #116FED;
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.filter_popup {
  z-index: 999;
  position: absolute;
  top: 92%;
}
.filter_popup .filter_popup_inner {
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 7px;
  max-width: 315px;
  min-width: 260px;
  border: 1px solid #B9B9B9;
}
.filter_popup .filter_popup_inner h3 {
  margin: 0 0 1em 0 !important;
  text-align: left;
}
.filter_popup .filter_popup_inner .btn__group__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.filter_popup .filter_popup_inner .btn__group__wrapper .btn__group {
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  margin: 0 5px;
}
.filter_popup .filter_popup_inner .btn__group__wrapper .reset__filter__btn {
  font-weight: bold;
  color: #1D1A1A;
  background: #EAEAEA;
}
.filter_popup .filter_popup_inner .btn__group__wrapper .apply__filter__btn {
  background: #136FED;
  color: white;
}

.datepicker__wrapper {
  width: fit-content;
  height: 43px;
  border: 1px solid #70707038;
  border-radius: 4px;
  opacity: 1;
  padding: 1px 5px;
  cursor: pointer;
}
.datepicker__wrapper .calendar {
  width: 33px;
  height: 18px;
  color: #116FED;
  opacity: 1;
}
.datepicker__wrapper .date_range_value {
  height: inherit;
  text-align: left;
  font: normal normal bold 16px/19px Lato;
  letter-spacing: 0px;
  color: #212121;
  opacity: 1;
  width: calc(100% - 33px);
}
.datepicker__wrapper .date_range_value .divider {
  margin: 0 10px;
}
.datepicker__wrapper .date_range_value .btn-wrp {
  display: inline-block;
  position: relative;
  z-index: 10;
}
.datepicker__wrapper .date_range_value input[type=date] {
  border: none;
  outline: none;
}
.datepicker__wrapper .date_range_value input[type=date]::-webkit-calendar-picker-indicator {
  right: -10px;
  position: absolute;
  width: 78px;
  height: 40px;
  color: rgba(204, 204, 204, 0);
  opacity: 0;
}

/*# sourceMappingURL=filter_popup.css.map */
