@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;700&display=swap");
.us_none {
  user-select: none;
}

.d__flex {
  display: flex;
}

.flex__dir__col {
  flex-direction: column;
}

.al__it__cen {
  align-items: center;
}

.jus__con__sp__ev {
  justify-content: space-evenly;
}

.hide {
  display: none !important;
}

.vishidden {
  visibility: hidden !important;
}

.center__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt__alg__lft {
  text-align: left;
}

.txt__alg__rgt {
  text-align: right;
}

.al__it__left {
  align-items: flex-start;
}

.al__it__right {
  align-items: flex-end;
}

.cu__pnt {
  cursor: pointer;
}

.scroll__cls {
  overflow-y: auto;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #192F48;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #116FED;
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.loader__wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__wrapper .loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #dcefff;
  border-top: 10px solid #116FED;
  animation: 1s spin linear infinite;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=Loader.css.map */
