@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;700&display=swap");
.us_none {
  user-select: none;
}

.d__flex {
  display: flex;
}

.flex__dir__col {
  flex-direction: column;
}

.al__it__cen {
  align-items: center;
}

.jus__con__sp__ev {
  justify-content: space-evenly;
}

.hide {
  display: none !important;
}

.vishidden {
  visibility: hidden !important;
}

.center__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt__alg__lft {
  text-align: left;
}

.txt__alg__rgt {
  text-align: right;
}

.al__it__left {
  align-items: flex-start;
}

.al__it__right {
  align-items: flex-end;
}

.cu__pnt {
  cursor: pointer;
}

.scroll__cls {
  overflow-y: auto;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #192F48;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #116FED;
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.not__found__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}
.not__found__wrapper .not__found__inner {
  display: flex;
  width: fit-content;
}
.not__found__wrapper .not__found__inner .leftImg {
  height: 224px;
  width: 235px;
}
.not__found__wrapper .not__found__inner .leftImgimg {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.not__found__wrapper .not__found__inner .rightNotF {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.not__found__wrapper .not__found__inner .rightNotF h2 {
  color: #1D1A1A !important;
  font-size: 16px;
}
.not__found__wrapper .not__found__inner .rightNotF p {
  color: #B9B9B9 !important;
  font-size: 12px;
}

/*# sourceMappingURL=notfounddata.css.map */
