@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;700&display=swap");
.us_none {
  user-select: none;
}

.d__flex {
  display: flex;
}

.flex__dir__col {
  flex-direction: column;
}

.al__it__cen {
  align-items: center;
}

.jus__con__sp__ev {
  justify-content: space-evenly;
}

.hide {
  display: none !important;
}

.vishidden {
  visibility: hidden !important;
}

.center__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt__alg__lft {
  text-align: left;
}

.txt__alg__rgt {
  text-align: right;
}

.al__it__left {
  align-items: flex-start;
}

.al__it__right {
  align-items: flex-end;
}

.cu__pnt {
  cursor: pointer;
}

.scroll__cls {
  overflow-y: auto;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #192F48;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #116FED;
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.search {
  margin-bottom: 20px;
}
.search .searchInputs {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #116FED;
  border-radius: 7px;
}
.search .searchInputs .searchBox {
  outline: 0;
  border: 0;
  width: calc(100% - 60px);
}
.search .searchInputs .searchBox:focus-visible {
  outline: 0;
}
.search .searchInputs .searchBox::placeholder {
  color: #B9B9B9;
}
.search .searchInputs .searchIcon {
  width: 30px;
  color: #B9B9B9;
}
.search .searchInputs .clearTxtIcon {
  width: 30px;
  color: #B9B9B9;
}
.search .searchResults {
  height: 100px;
  overflow: scroll;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.search .searchResults .dataItem {
  padding: 5px 10px 5px 0px;
  font-weight: normal;
}
.search .searchResults .dataItem .itemTxt {
  margin-left: 10px;
}

/*# sourceMappingURL=SearchBarTextFilter.css.map */
