@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;700&display=swap");
.us_none {
  user-select: none;
}

.d__flex {
  display: flex;
}

.flex__dir__col {
  flex-direction: column;
}

.al__it__cen {
  align-items: center;
}

.jus__con__sp__ev {
  justify-content: space-evenly;
}

.hide {
  display: none !important;
}

.vishidden {
  visibility: hidden !important;
}

.center__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt__alg__lft {
  text-align: left;
}

.txt__alg__rgt {
  text-align: right;
}

.al__it__left {
  align-items: flex-start;
}

.al__it__right {
  align-items: flex-end;
}

.cu__pnt {
  cursor: pointer;
}

.scroll__cls {
  overflow-y: auto;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #192F48;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #116FED;
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.hideWithAnimation {
  animation: slidebacky 1s;
  display: none !important;
}
@keyframes slidebacky {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.tb__upper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.tb__upper .settings__btn {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
  width: fit-content;
  height: 43px;
  border: 1px solid #70707038;
  border-radius: 4px;
  background: white;
}
.tb__upper .settings__btn .sb__txt {
  margin-left: 5px;
}
.tb__upper .settings__btn .slider__icon {
  width: 18px;
  height: 18px;
  color: #136FED;
  opacity: 1;
  margin-right: 5px;
}
.tb__upper .settings__btn:disabled > svg {
  opacity: 0.5 !important;
}

.settings__wrapper {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  padding: 20px;
  animation: slidey 0.6s;
}
@keyframes slidey {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}
.settings__wrapper .dm__heading {
  display: flex;
  justify-content: flex-start;
}
.settings__wrapper .dm__heading h3 {
  margin: 0px !important;
}
.settings__wrapper .col__names__drag {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px 0px;
}
.settings__wrapper .col__names__drag .col__names__card .col__option__name {
  border-left: 5px solid white;
  width: 100px;
  padding: 5px 10px;
  border-radius: 3px;
  background: white;
  border: 1px solid #EAEAEA;
  color: #212121;
  text-align: left;
  margin: 0 10px 5px 0px;
}
.settings__wrapper .col__names__drag .col__names__card .default__element {
  display: none;
}
.settings__wrapper .col__names__drag .col__names__card .default__element:checked + .col__option__name {
  border-left: 5px solid #116FED;
}
.settings__wrapper .col__names__drag .col__names__card.draggable {
  cursor: move;
}
.settings__wrapper .col__names__drag .col__names__card.dragging {
  opacity: 0.6;
}
.settings__wrapper .btn__func {
  display: flex;
  justify-content: flex-end;
}
.settings__wrapper .btn__func .settings__btn__group {
  border: none;
  padding: 5px 20px;
  border-radius: 3px;
  height: 42px;
  margin: 0 5px;
}
.settings__wrapper .btn__func .close__btn {
  background: white;
  color: #136FED;
  border: 1px solid #EAEAEA;
}
.settings__wrapper .btn__func .apply__changes__btn {
  background: #136FED;
  color: white;
}

/*# sourceMappingURL=Settings.css.map */
