@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;700&display=swap");
.us_none {
  user-select: none;
}

.d__flex {
  display: flex;
}

.flex__dir__col {
  flex-direction: column;
}

.al__it__cen {
  align-items: center;
}

.jus__con__sp__ev {
  justify-content: space-evenly;
}

.hide {
  display: none !important;
}

.vishidden {
  visibility: hidden !important;
}

.center__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt__alg__lft {
  text-align: left;
}

.txt__alg__rgt {
  text-align: right;
}

.al__it__left {
  align-items: flex-start;
}

.al__it__right {
  align-items: flex-end;
}

.cu__pnt {
  cursor: pointer;
}

.scroll__cls {
  overflow-y: auto;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #192F48;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #116FED;
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.table__parent__wrapper {
  display: flex;
  flex-direction: column;
}
.table__parent__wrapper .table__wrapper {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
.table__parent__wrapper .table__wrapper td,
.table__parent__wrapper .table__wrapper th {
  padding: 8px;
  width: 11.11%;
  border-bottom: 1px solid rgba(112, 112, 112, 0.15);
}
.table__parent__wrapper .table__wrapper th {
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
}
.table__parent__wrapper .table__wrapper .filter__icon__wrapper {
  width: 100px;
  padding: 10px 0px;
}
.table__parent__wrapper .table__wrapper .filter__icon__wrapper .filter__icon {
  width: 18px;
  height: 18px;
  color: #707070;
  opacity: 1;
}
.table__parent__wrapper .table__wrapper .theader__txt {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  text-align: right;
}
.table__parent__wrapper .table__wrapper .table__data__top {
  font-family: "Lato", sans-serif;
  font-weight: 800;
  color: #212121;
  font-size: 24px;
}
.table__parent__wrapper .table__wrapper .table__data {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #1D1A1A;
}
.table__parent__wrapper .table__wrapper .app__name__cls {
  display: flex;
}
.table__parent__wrapper .table__wrapper .app__name__cls .img__app__name {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.table__parent__wrapper .table__wrapper .app__name__cls .img__app__name img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=Table.css.map */
